a:visited { 
color:#500000; 
text-decoration:none;
font-family:KaiTi; 
} 
a:hover { 
color:#00FF00;
text-decoration:none; 
font-weight:bold;
} 
a {text-decoration: none}
#toptop{
	height:2px;
	width:100%;
	background:#F00;
}
.top{
	text-align:center;
	letter-spacing:3px;
	font-size:30px; 
	color:red;
	height:8%;
	font-family:SimSun;
}
#juzhong{
	text-align:center;
	margin:0 auto;
	width:850px;
}
.img1{
width:400px;
height:200px;
text-align:left;
float:left;
}
.tdimg{
	width:10px;;
}
.neirong{
	text-align:left;
}
.jianjie{
	text-align:center;
}
.lichanghong{
	font-family:lishu;
	font-size:30px;
}
#fengexian{
	height:2px;
	width:100%;
	background:#000;
}
.nianling{
	text-align:left;
}
body{
	background:url(./myproject/beijing.png)
}