a:visited { 
color:#500000; 
text-decoration:none;
font-family:KaiTi; 
} 
a:hover { 
color:#00FF00;
text-decoration:none; 
font-weight:bold;
} 
a {text-decoration: none}
#juzhong{
	text-align:center;
	margin:0 auto;
	width:850px;
}
body{
	margin-top:0px;
}
#toptop{
	height:2px;
	width:100%;
	background:#87CEEB;
}
#top{
	letter-spacing:2px;
	font-size:16px; 	
	height:4%;
	background:#E8ECF8;
	margin-top:0px;	
	}
#lodin{
	float:right;
}
#daohang{
	float:left;
	margin-left:10px;
}