a:visited { 
color:#500000; 
text-decoration:none;
font-family:KaiTi; 
} 
body{
	background:#F0F0F0;
	}
a:hover { 
color:#00FF00;
text-decoration:none; 
} 
a {text-decoration: none}
.top{
	letter-spacing:2px;
	font-size:16px; 	
	height:4%;
	background:#E8ECF8;
}
.Lxhe{
	font-size: 19px;
	}
#daohang{
	float:left;
	margin-left:10px;
}
body{
	margin-top: 0px;
}
.body_cen{
	height:50%;
	width:100%;
	text-align:center;
	background:#FFFFFF;
	margin:0px;
}
.body_img{
	height:100%;
	width:750px;
}
#lodin{
	float:right;
}
#toptop{
	height:2px;
	width:100%;
	background:#87CEEB;
}
#classLx{
	width:50%;
	text-align:left;
	height:100px;
	font-family:kaiti;
	font-size:20px;
	color:#0000FF;
}
#video_table{
	text-align:center;
}
#LxLeft{
	float:left;
	width:35%;
	}
#LxRight{
	float:left;
	}
.lianxia{
	font-size:17px;
}
#juzhong{
	margin: 0 auto;
	width: 950px;
}
#video1{
	width:420px;
	margin-top:15px;
}
#btn{
	width:100px;
	height:30px;
	margin-top:10px;
}
.LxHeight{
	margin-left:-17px;
    margin-top:-9px;
	list-style:none;
	}