
*{
	margin:0px;	/*消除所有元素的外边距*/
	padding:0px;
	font-size:14px; /*默认字体大小*/
}
#a{
	border:1px solid #00ff00;
	width:800px;
	height:800px;position:relative;top:20px;left:200px;
	
}
#a #ab{border:1px solid #00ff00;
	width:800px;
	height:80px;
	
}	
#a #ac{border:1px solid #00ff00;
	width:800px;
	height:400px;
	  
}
#a #ac #aca{
	         border:1px solid #00ff00;
	         width:600px;
	         height:400px;
	         text-align:center;	
	         font-size:30px; /*默认字体大小*/
}
#a #ac #aca #acab{
	               border:1px solid #00ff00;
	               width:600px;
	               height:50px;
	               text-align:center;	
	               font-size:30px; /*默认字体大小*/
}
