


body{ background:url(2.jpg);background-size:cover}
.main1{ 
	  width: 1000px;
	  height: 60px;
	  background:activecaption;position:relative; top:50px;left:200px;
	}

    
.main2{text-align:center;
            width: 1000px;
            height: 800px;

            
            background-color:white;
            position:relative;top:70px;left:200px;
            
           }
.foot{
            width: 1200px;
            height: 50px;top:805px;left:0px;

            
            background-color: skyblue;
            position: absolute;
            
           }


.main4{
            position:absolute;width:1000px;height:120px;
            background-color:white; top:200;
            
           }


.main5{
            position:absolute;width:800px;height:60px;
            background-color:white; top:390;z-index:5;
            
           }


.main6{
            position:absolute;width:800px;height:60px;
             top:470;z-index:5;
            
           }
.main7{
            position:absolute;width:800px;height:60px;
            /*background-color:red;*/ top:550;z-index:5;
            
           }


.maina{
            position:absolute;width:15px;height:30px;
            background-color:blue; top:10%;
            
           }
.mainx{   width:15px;height:30px;background-color:blue;

           
            }


#size{font: italic bold 50px "楷体";}



#t{ 
           background-image: url(img\1.jpg);
           background-repeat:repeat;
}

  ul{
            list-style: none;/*去掉列表前面的圆点*/
            width: 420px;
            height: 60px;text-decoration:none;
            /*background-color:#0000FF;设置整个导航栏的背景为灰色*/
        }

 li{
        float: left;/*平铺*/
            margin-right: 30px;
            margin-top: 16px;
　　　　　　text-align: right;
        }
               
                    
  a{
      text-decoration:none;

              
         }       




.zhaopian{
        

            position:absolute;width:400px;height:320px;
            background-color:white; top:0;right:0px;


         }



.donghua{
        

            position:absolute;width:400px;height:320px;
            background-color:white; top:400;right:0px;


         }
.ww{ background-image:url(img\2.jpg);}




