a:visited { 
color:#500000; 
text-decoration:none;
font-family:KaiTi; 
} 
a:hover { 
color:#00FF00;
text-decoration:none; 
font-weight:bold;
} 
a {text-decoration: none}
.top{
	text-align:center;
	letter-spacing:3px;
	font-size:30px; 
	color:red;
	height:8%;
	font-family:SimSun;
}
body{
	background:url(./myproject/beijing.png)
}
.body_cen{
	height:33%;
	width:100%;
	text-align:center;
	background:#F0F0F0;
}
.body_img{
	height:100%;
	width:850px;
}
#toptop{
	height:2px;
	width:100%;
	background:#F00;
}
#lianxi{
	width:50%;
	text-align:left;
	height:100px;
	font-family:kaiti;
	font-size:20px;
	color:#0000FF;
}
#video_table{
	text-align:center;
}
.lianxia{
	font-size:17px;
}
#juzhong{
	text-align:center;
	margin:0 auto;
	width:850px;
}
#video1{
	width:420px;
	margin-top:15px;
}
#btn{
	width:100px;
	height:30px;
	margin-top:10px;
}
